@tailwind base;
@tailwind components;
@tailwind utilities;


.swal2-confirm,
.swal2-cancel {
  color: white !important;
  background-color: #d33 !important;
  border: none !important;
  opacity: 1 !important;
  visibility: visible !important;
  font-weight: bold !important;
  padding: 0.6em 1.2em !important;
  border-radius: 0.5em !important;
}

.swal2-cancel {
  background-color: #6c757d !important;
}

.swal2-confirm:hover {
  background-color: #b71c1c !important;
}

.swal2-cancel:hover {
  background-color: #5a6268 !important;
}


.swal2-confirm span,
.swal2-cancel span {
  color: white !important;
}